<%= display_error %>

<form action="/decks" method="POST">
  Name:<br>
  <input type="text" name="deck[name]"><br>
  Description:<br>
  <textarea name="deck[description]"></textarea><br>
  <input type="submit" value="Create">
</form>
